h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 50pt;
    margin-left: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 50pt;
    line-height: 5px;
    color: rgb(0, 0, 71);
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 50px;
    font-weight: bold;
    font-size: 25pt;
    line-height: 5px;
    color: rgb(0, 0, 71);
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 50px;
    font-size: 20pt;
    line-height: 20px;
    color: rgb(0, 0, 71);
}